<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-12">-->
      <!--<ul>-->
        <!--<li *ngFor="let item of listItemsName">{{ item }}</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div class="container">
  <div class="row" style="text-align: center">
    <div class="col-12">
      <h4 style="color: olivedrab;">TRADITIONAL FOODS</h4>
      <h6 style="font-style:italic;color: burlywood">Foods from european region and america</h6>
    </div>
  </div>
  <div class="row">
    <!--Grid column-->
    <div class="col-lg-3 col-md-12 mb-4">
      Swiss
      <!--Image-->
      <div class="view overlay z-depth-1-half">
        <img [defaultImage]="defaultImage" [lazyLoad]="image1" [offset]="offset" class="img-fluid">
        <a href="">
          <div class="mask rgba-white-light"></div>
        </a>
      </div>
    </div><div class="col-lg-3 col-md-12 mb-4">
      Italian
      <!--Image-->
      <div class="view overlay z-depth-1-half">
        <img [defaultImage]="defaultImage" [lazyLoad]="image2" [offset]="offset" class="img-fluid">
        <a href="">
          <div class="mask rgba-white-light"></div>
        </a>
      </div>
    </div><div class="col-lg-3 col-md-12 mb-44">
       German
      <!--Image-->
      <div class="view overlay z-depth-1-half">
        <img [defaultImage]="defaultImage" [lazyLoad]="image3" [offset]="offset" class="img-fluid">
        <a href="">
          <div class="mask rgba-white-light"></div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 mb-4">
      French
      <!--Image-->
      <div class="view overlay z-depth-1-half">
        <img [defaultImage]="defaultImage" [lazyLoad]="image4" [offset]="offset" class="img-fluid">
        <a href="">
          <div class="mask rgba-white-light"></div>
        </a>
      </div>
    </div>
    <!--Grid column-->
  </div>

  <div><hr/></div>
  <div class="row" style="text-align: center">
    <div class="col-12">
      <h4 style="color: olivedrab;">Recipes by Categories</h4>
      <h6 style="font-style:italic;color: burlywood">Foods that inspires</h6>
    </div>
  </div>
  <div class="row">
    <!--Grid column-->
    <div class="col-lg-3 col-md-12 mb-4">
      Seasonal
      <div class="view overlay z-depth-1-half">
        <img [defaultImage]="defaultImage" [lazyLoad]="image5" [offset]="offset" class="img-fluid">
        <a href="">
          <div class="mask rgba-white-light"></div>
        </a>
      </div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-12 mb-4">
      Healthy
      <div class="view overlay z-depth-1-half">
        <img [defaultImage]="defaultImage" [lazyLoad]="image6" [offset]="offset" class="img-fluid" alt="">
        <a href="">
          <div class="mask rgba-white-light"></div>
        </a>
      </div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-12 mb-4">
      Holidays
      <div class="view overlay z-depth-1-half">
        <img [defaultImage]="defaultImage" [lazyLoad]="image7" [offset]="offset" class="img-fluid">
        <a href="">
          <div class="mask rgba-white-light"></div>
        </a>
      </div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-12 mb-4">
      Baked Goods
      <div class="view overlay z-depth-1-half">
        <img [defaultImage]="defaultImage" [lazyLoad]="image8" [offset]="offset" class="img-fluid" alt="">
        <a href="">
          <div class="mask rgba-white-light"></div>
        </a>
      </div>
    </div>
    <!--Grid column-->
  </div>

  <div class="row">
    <!--Grid column-->
    <div class="col-lg-3 col-md-12 mb-4">
      Full Dinners
      <div class="view overlay z-depth-1-half">
        <img [defaultImage]="defaultImage" [lazyLoad]="image9" [offset]="offset" class="img-fluid" alt="">
        <a href="">
          <div class="mask rgba-white-light"></div>
        </a>
      </div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-12 mb-4">
      Party Time
      <div class="view overlay z-depth-1-half">
        <img [defaultImage]="defaultImage" [lazyLoad]="image10" class="img-fluid" [offset]="offset">
        <a href="">
          <div class="mask rgba-white-light"></div>
        </a>
      </div>
    </div>
    <!--Grid column-->
  </div>
</div>